.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.so
*.pyd
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
.Rhistory
.RData
*.RData
*.rds
*.Rproj
.Rproj.user/
cython_debug/
*.sqlite
*.sqlite3
*.swp
*.swo
